.mat-chip.mat-standard-chip {
  border: 2px solid darkslategrey;

  &:focus {
    border: 2px solid darkslategrey;
    box-shadow: 0 0 5px 2px rgba(114, 114, 114, 0.91);
  }
}

.details {
  margin-bottom: 10%;
  width: 80px;
}

.button__plus {
  background-color: #008000;
}

.button__minus {
  background-color: #ff0000;
}
