.product__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  // better to use &__item in this case instead of .product__item {
  // the same in other scss
  .product__item {
    width: 33%;
  }
}
