<div class="product">
  <div>
    <h3>
      <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
        {{ product.name }}
      </a>
    </h3>
  </div>
  <div>
    <app-product-image [imageUrl]="url">
    </app-product-image>
  </div>
  <div *ngIf="product.description">
    <p>
      Description: {{ product.description }}
    </p>
  </div>
  <div *ngIf="product.price">
    <p>Price: {{product.price}}</p>
    <app-product-alerts
      [product]="product"
      (notify)="onNotify()">
    </app-product-alerts>
  </div>
  <div>
    <p>Count: {{product.count}}</p>
  </div>
  <app-product-color-list [productColors]="product.colorModel" (changeCount)="recalculate($event)"
                          (changeImages)="changeImage($event)"></app-product-color-list>
  <button (click)="share()"> Share</button>
</div>
